body {
  background-color: black;
}

.flex__parent {
  background-color: white;
  width: 1200px;
  height: 500px;
  display: flex;
  gap: 5px;
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  align-items: center;
  /* align-items: stretch; */

  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: flex-start; */
}

.child {
  background-color: red;
  width: 200px;
  height: 250px;
}

/* for changing one thing or box */

.child1 {
  background-color: red;
  width: 200px;
  height: 250px;
  align-self: flex-start;
}
