.btn:hover {
  background-color: red;
  color: white;
}

.btn:active {
  background-color: green;
  color: black;
}

.btn:focus {
  background-color: blueviolet;
  color: burlywood;
}

.para::before {
  content: "My teaching website is: ";
  color: crimson;
}

.para::after {
  content: " WEBSITE";
  color: black;
}

.para::selection {
  background-color: brown;
}
